.contact {
    background-color: #0B1810;
    flex-wrap: wrap;
    padding: 20px ;
}

.containerContact {
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.containerForm {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
}
.vertical-bar, button {
    background: silver;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -3px -3px grey, inset 3px 3px #dfdfdf;
}

.button {
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    min-height: 23px;
    min-width: 75px;
    padding: 0 12px;
    margin-bottom: 90px;
}
