.skillsBlock {
    background-color: #0B1810;
    flex-wrap: wrap;
    padding: 20px ;
}

.skillsContainer {
    font-family: 'Titillium Web', sans-serif;
    color: #8AAB91;
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.skillsTitle {
    /*color: #8AAB91;*/
    /*background-color: #ffecb8;*/
}

.skills {
    /*color: #8AAB91;*/
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.img {
    width: 60px;
    height: 60px;
}

.css {
    width: 60px;
    height: 70px;
}
