.skillsBlock {
    background-color: #0B1810;
    flex-wrap: wrap;
    padding: 20px;
}

.skillsContainer {
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.skillsTitle {
    margin: 0 0 30px;
    font-family: 'Titillium Web', sans-serif;
    color: #8AAB91;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 3px;
    position: relative;
}

.skillsTitle h2 {
    margin: 0;
}

.skillsTitle::before {
    content: '';
    position: absolute;
    background: #8aab91;
    width: 55px;
    height: 1px;
}

.skills {
    /*color: #8AAB91;*/
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    letter-spacing: 4px;
}

.img {
    width: 60px;
    height: 60px;
}

.css {
    width: 60px;
    height: 70px;
}
