.mainBlock {
    height: 100vh;
    background-color: #0B1810;
}

.greeting {
    width: 300px;
    background-color: #0B1810;
    color: #8AAB91;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #3dff48;
}