.nav {
    /*border: 1px solid green;*/
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

a {
    font-family: 'Titillium Web', sans-serif;
    color: #8AAB91;
}