.containerFooter {
    /*height: 100vh;*/
    font-family: 'Titillium Web', sans-serif;
    color: #8AAB91;
    background-color: #0B1810;
    flex-wrap: wrap;
    padding: 20px ;
}

.footer {
    border: 1px solid red;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.name {
    letter-spacing: 2px;
}

.socialIcons {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons {
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    flex-wrap: wrap;
}
