.containerFooter {
    /*height: 100vh;*/
    background-color: #949411;
    flex-wrap: wrap;
    padding: 20px ;
}

.footer {
    border: 1px solid red;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.name {

}

.socialIcons {
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons {
    width: 100%;
    height: 40px;
    background-color: #8AAB91;
    border-radius: 5px;
    flex-wrap: wrap;
}
